.greeting{
  &__header {
    padding-top: 228px;
  }

  &__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;

    color: #21243D;
  }

  &greeting__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #21243D;
  }

  &greeting__resume {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    color: #FFFFFF;
  }

  &__img {
    width: 243px;
    height: 243px;
    left: 760px;
    padding-top: 210px;

    background-image: url('./images/Ellipse.jpg');
    background-repeat: no-repeat;
    background-color: #959595;

    border-radius: 10px;
  }

  &__location {
    min-width: 208px;
    min-height: 47px;

    padding: 9px 21px 17px 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    color: #FFFFFF;
    background-color: #FF6464;
    border-radius: 2px;
  }

  &__location-wrapper {
    display: flex;
    justify-content: center;
    gap: 27px;
  }
}