.nav {
  &__logo {
    position: absolute;
    top: 48px;
    left: 76px;
  }

  &__link {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;

    //transition: opacity 0.3s ease;
    //
    //&:hover {
    //  opacity: 0.6;
    //}
  }

  &__list {
    display: flex;
    gap: 65px;

    //position: absolute;
    left: 50%;
    top: 27px;
    transform: translate(50%, 0);
  }
}